body {
  padding: 20px;
  text-align: center;
  transition: background .5s ease-out;
}

h1 {
  font-family: Georgia, serif;
}

.converter-container {
  width: 340px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  background: rgba(255,255,255,.5);
}

input {
  margin-right: 10px;
  padding: 10px;
  border: 3px solid #dfdfdf;
  border-radius: 4px;
}

input:focus {
  border-color: #afafaf;
  outline: none;
}

button {
  font-size: 14px;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  outline: none;
  background: #f26629;
  cursor: pointer;
}

/* Error styles
   ================================================================ */

/* This class shoud be added to the input if the user has not entered a value */
.error {
  border-color: red;
}

/* This error message should fade in if the user has not entered a value */
.error-message {
  color: white;
  border: 3px solid red;
  border-radius: 4px;
  display: none; /*Hidden by default*/
  background-color: rgba(255, 0, 0, .6);
  padding: 10px;
}

/* Background color changes */
.cold {
  background: #65B3F8;
}
.mild {
  background: #F0DA78;
}
.hot {
  background: #EC2B00;
}